<div class="container">
    <ul class="list-group">
      <li class="list-group-item clearfix">
        <h3 class="list-group-item-heading">
          Amazing Item
        </h3>
        <p class="list-group-item-text lead">
          Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio.
          <br />
          <a href="#"><small>Details&#8230;</small></a>
        </p>
        <div class="btn-toolbar pull-right" role="toolbar" aria-label="">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-list"></i> <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Add to new list</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">A list</a></li>
              <li><a href="#">Another list</a></li>
              <li><a href="#">Third list</a></li>
            </ul>
          </div>
          <a href="#" class="btn btn-default">Add to cart</a>
          <a href="#" class="btn btn-primary">$29.99</a>
        </div>
      </li>
      </ul> 
      </div>    