{% extends 'finance/base.html' %}

{% block content %}

{% include 'finance/nav.html' %}

<div class="container-fluid">
    <div class="container py-2">
        <div class="container network_wrapper col-sm p-2 ">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <h5 class="card-title">Bills and subscriptions</h5>
                        </div>
                        <div class="ms-auto p-2 bd-highlight">
                            <button type="button" class="btn btn-primary">                    
                                <a  href="{% url 'bill-new' %}">Add a bill</a>
                            </button>
                        </div>
                    </div>

                    <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#bills">Bills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#subscriptions">Subscriptions</a>
                        </li>
                    </ul>
                </div>
                <form class="card-body tab-content">
                    <div class="tab-pane active" id="bills">
                        <ul class="list-group">
                            {% include 'bills/bill_card.html' %}
                        </ul>
                    </div>
                    <div class="tab-pane" id="subscriptions">
                        <p class=" card-text">Change Static Network settings.</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock content %}