{% extends 'finance/base.html' %}

{% block content %}

{% include 'finance/nav.html' %}

<div class="container-fluid">
    <div class="container py-2">
        <div class="container network_wrapper col-sm p-2 ">
            <!-- Back button -->
            <a href="{% url 'bills' %}" class="text-muted text-decoration-none" tabindex="-1" role="button"
                aria-disabled="true"><i class="bi bi-chevron-left"></i>&nbsp;Back to bills
            </a>
            <!-- Title block -->
            <div class="row align-items-center">
                <h2 class="col-auto col-11">{{ bill.title }}</h2>
                <!-- Settings/edit section -->
                <div class="col-auto">
                    <svg class="bi pe-none me-2" width="16" height="16"></svg>
                    <a href="{% url 'bill-edit' bill.id %}" aria-current="page">
                        <i class="bi bi-gear-fill"></i>
                    </a>
                </div>
            </div>
            <!-- Numbers block -->
            <!-- Details block -->
            <!-- Transactions block -->
            <!-- History block -->
        </div>
    </div>
</div>

{% endblock %}