{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="{% url 'finance' %}" class="nav-link navbar-brand {% if request.resolver_match.url_name == 'finance' %}active{% endif %}" aria-current="page">
            <i class="bi bi-piggy-bank-fill"></i>
            Budget
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse float-start" id="navbarsExample09">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'finance' %}">Home</a>
                </li>
            </ul>
        </div>
    
        {% if user.is_authenticated %}
        <span class="align-baseline">Welcome, {{ request.user.username }}</span>
    
        <div class="collapse navbar-collapse justify-content-end" id="navbarsExample09">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'todos_logout' %}">Logout</a>
                </li>
            </ul>
        </div>
        {% else %} <ul>
            {% if request.path == '/register/' %}
            <li>
                <a class="link" href="{% url 'todos_login' %}">Login</a>
            </li>
            {% elif request.path == '/login/' %}
            <li>
                <a class="link" href="{% url 'todos_register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</nav>

{% endblock nav %}